@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
	background: #fff;
	font: 14px Merriweather, Georgia, serif;
	line-height: 24px;
	margin: 0;
}
h1,
h2 {
	font-size: 32px;
	margin: 0;
}
h3 {
	font-size: 18px;
	margin: 0;
}
pre {
	background: #f9f9f9;
	border: 1px solid #f3f3f3;
	border-bottom: 1px solid #dbdbdb;
	border-radius: 3px;
	font: 13px "Source Code Pro", monospace;
	margin-bottom: 2em;
	line-height: 18px;
	overflow: auto;
	padding: 6px 10px;
}
.meta {
	color: #999;
	margin-top: 5px;
}
#content {
	max-width: 480px;
	margin: 80px auto;
	padding: 0 20px;
}
#comments {
	margin-top: 40px;
}
