@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic);

* {
	box-sizing: border-box;
}
html,
body {
	background: #fff;
	font: 14px Merriweather, Georgia, serif;
	margin: 50px 0 100px;
}
a {
	text-decoration: none;
}
h2,
h3 {
	font-size: 24px;
	margin: 38px 0 16px;
}
p {
	line-height: 1.7;
}
pre {
	background: #f6f6f6;
	border-top: 1px solid #eee;
	border-radius: 5px;
	overflow: auto;
	padding: 10px;
}
pre code {
	background: 0;
	border: 0;
	color: inherit;
	padding: 0;
}
code {
	background-color: #f6f6f6;
	border-top: 1px solid #eee;
	border-radius: 2px;
	color: #d14;
	padding: 2px 5px;
}
ul,
ol {
	margin: 12px 0 20px;
}
li {
	line-height: 1.6;
}
table {
	width: 100%;
}
th,
td {
	padding: 9px 18px;
}
th {
	border-bottom: 4px solid #eee;
}
td {
	border-top: 1px solid #eee;
	font-family: monospace;
}
.meta {
	color: #999;
	margin: -5px 0 20px;
}
.container {
	max-width: 480px;
}
.row {
	margin: 10px 0;
}
.highlight {
	margin: 1em 0;
}
#archive {
	line-height: 1.7em;
	text-align: center;
}
#blog .date {
	color: #999;
}
#blog .category {
	text-transform: capitalize;
}
#comments {
	margin-top: 40px;
}
