@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic);

* {
	box-sizing: border-box;
}
html,
body {
	background: #fff;
	font: 14px Merriweather, Georgia, serif;
	margin: 50px 0 100px;
}
a {
	text-decoration: none;
}
h1,
h2,
h3 {
	font-size: 32px;
	line-height: 1.5;
	margin: 0;
	margin-bottom: .5em;
}
h3 {
	font-size: 18px;
}
p {
	line-height: 1.7;
	text-align: justify;
}
pre {
	background-color: #f6f6f6;
	border-top: 1px solid #eee;
	padding: 10px;
	border-radius: 5px;
	overflow: auto;
}
.meta {
	color: #999;
	margin: -5px 0 20px;
}
.container {
	max-width: 480px;
}
.row {
	margin: 10px 0;
}
.highlight {
	margin-bottom: 2em;
}
#blog .date {
	color: #999;
}
#blog .category {
	text-transform: capitalize;
}
#comments {
	margin-top: 40px;
}
